* {
    padding: 0;
    margin: 0;
}


audio {
     background-color: rgb(230,230,230);}
}
  /*панел аудио*/
audio::-webkit-media-controls-panel {
    background-color: rgb(230,230,230);}
  
  /*кнопка громкость*/
  audio::-webkit-media-controls-mute-button{
      display: none;
  }
  audio::-webkit-media-controls-volume-slider{
     display: none;
}


  /*кнопка пауза*/
  audio::-webkit-media-controls-play-button{
      background-color: rgb(75, 216, 122);
  }
  /**/
  audio::-webkit-media-controls-timeline-container{display: none;}
  /*time вакти асли*/
  audio::-webkit-media-controls-current-time-display{background-color: rgb(230, 230, 230); padding: 5px  0 5px 0;}
  /*time вакти умуми*/
  audio::-webkit-media-controls-time-remaining-display{background-color: rgb(230,230,230); padding: 5px 0 5px 0;}
  /*панели звук стрелкаи мерафтаги*/
  audio::-webkit-media-controls-timeline{background-color: rgb(230,230,230); height: 1px;}
  audio::-webkit-media-controls-volume-slider-container{display: none;}
  audio::-webkit-media-controls-seek-back-button{display: none;}
  audio::-webkit-media-controls-seek-forward-button{display: none;}
  audio::-webkit-media-controls-fullscreen-button{display: none;}
  audio::-webkit-media-controls-rewind-button{display: none;}
  audio::-webkit-media-controls-return-to-realtime-button{display: none;}
  audio::-webkit-media-controls-toggle-closed-captions-button{display: none;}



div#timeline1 {
    
    height: 5px;
    width: 70%;
    background: red;
    display: block;

}

div#seekObj1 {
    width: 5px;
    height: 5px;
    background: #ffff;
    border-radius: 50%;
}
li{list-style: none;}
.track-title{
    text-align: center;
    font-size: 25px;
    color: blue;
}
#seekObjContainer{align-content: center;}
.play-pause{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 3px;
    width: 10px;
    height: 10px;
}
.start-time{
    margin-left: 30px;    

}
.end-time{
    margin-left: 30px;
}




.container {
    padding: 0;
    margin: 0;
    margin-left: 5%;

}

.head {
    width: 100%;
    height: 100%;
    background: #000;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}

.audio {
    width: 90%;
    height: 100px;
    padding: 3px;
    margin-top: 5px;

    border: 1px solid black;
    border-radius: 2px;
}

.audio .title {
    text-align: center;

}


.navigation {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    list-style: none;
}
